#parent {
  background-color: #212121;
  margin: auto;
  width: 256px;
  height: 256px;
  position: relative;
}

#child-1 {
  width: 2rem;
  height: 2rem;
  background-color: #ff8a80;
  position: absolute;
  top: 2rem;
}

#child-2 {
  width: 2rem;
  height: 2rem;
  background-color: #69f0ae;
  position: absolute;
  left: 2rem;
  top: 0rem;
}

#child-3 {
  width: 2rem;
  height: 2rem;
  background-color: #ffee58;
  position: absolute;
  top: 0rem;
}
